body {
    font-family: Verdana, sans-serif;
    background-color: #f7f7f7;
    color: #000000;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #000000;
}

h2 {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #ffffff;
}

p {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto 30px auto;
}

img {
    max-width: 80%;
    height: auto;
    margin: 20px auto;
    display: block;
}

form {
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    text-align: left;
    color:#f7f7f7;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
}



input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #000000;
}

hr {
    border: 1px solid #000000;
    margin: 40px auto;
    width: 80%;
}

a {
    display: inline-block;
    margin: 10px 15px;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#kontaktForma {
    margin: 0 auto;
    max-width: 500px;
}

a:hover {
    background-color: #333333;
}