
body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    text-align:center;
}


h1 {
    font-family: 'Arial Black', Gadget, sans-serif
}

ul, ol {
    text-align: left;
    margin-left: 20px; /* opcionalno, da lijepo stoji sa margine */
}

.hero-slika {
    width: 100%;
    height: 650px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}


h2 {
    text-align: center;
    font-size: 40px;
    color: #000000;
    margin-top: 20px;
}

a {
    display: inline-block;
    margin: 10px 15px;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}


h1 {
    text-align: center;
    font-size: 60px;
    color: #000000;
    margin-top: 20px;
}